doctype html
html(ng-app="myApp")
  head
    title= title
    script(src="/javascripts/vendors/angular.min.js")
    script(src="/javascripts/vendors/angular-route.min.js")
    script(src="/javascripts/vendors/ng-file-upload-all.min.js")
    //script(src="/javascripts/scripts.js")
    script(src="/javascripts/appConfig.js")
    script(src="/javascripts/controllers/bridgeCtrl.js")
    script(src="/javascripts/controllers/homeCtrl.js")
    script(src="/javascripts/controllers/loginCtrl.js")
    script(src="/javascripts/controllers/navCtrl.js")
    script(src="/javascripts/controllers/registerCtrl.js")
    script(src="/javascripts/controllers/searchCtrl.js")
    script(src="/javascripts/services/authService.js")
    script(src="/javascripts/services/authInterceptor.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
.search(ng-controller="searchCtrl")
  input(type='text' ng-keypress="searchQueue()" ng-model="query")
  ul
    li(ng-repeat="user in userList track by $index" ng-click="navigate(user.username)") {{user.firstName + ' ' + user.lastName}}
nav(ng-controller="navCtrl")
  ul
    li(ng-show='user.username')
      p Logged in as {{user.username}}!
    li(ng-hide="user.username")
      a(href='#/login') login
    li(ng-show='user.username')
      a(href='/#bridge') bridge
    li(ng-show='user.username')
      a(ng-click='logout()' href='#/') logout
    block content
