doctype html
html(ng-app="myApp")
  head
    title= title
    script(src="/javascripts/vendors/angular.min.js")
    script(src="/javascripts/vendors/angular-route.min.js")
    script(src="/javascripts/vendors/ng-file-upload-all.min.js")
    //script(src="/javascripts/scripts.js")
    script(src="/javascripts/appConfig.js")
    script(src="/javascripts/controllers/bridgeCtrl.js")
    script(src="/javascripts/controllers/homeCtrl.js")
    script(src="/javascripts/controllers/loginCtrl.js")
    script(src="/javascripts/controllers/navCtrl.js")
    script(src="/javascripts/controllers/registerCtrl.js")
    script(src="/javascripts/controllers/searchCtrl.js")
    script(src="/javascripts/controllers/bridgeCtrl.js")
    script(src="/javascripts/controllers/blogCtrl.js")
    script(src="/javascripts/controllers/newsFeed.js")
    script(src="/javascripts/services/authService.js")
    script(src="/javascripts/services/authInterceptor.js")
    script(src="/javascripts/services/userInfoFactory.js")
    script(src="/javascripts/functions.js")
    link( rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(ng-controller="navCtrl" class='theNav')
      .container-fluid
        .row.nav
          h3.col-md-2(ng-show='user.username') {{user.username}}
          .search.col-md-6(ng-controller="searchCtrl")
            form.input-group(ng-submit="entry()")
              input.form-control(type='text' name="search" ng-keypress="searchQueue()" ng-model="query")
              span.input-group-btn
                button(type="submit" class="btn btn-default") Search
            ul
              li(ng-repeat="user in userList track by $index" ng-click="navigate(user.username)") {{user.firstName + ' ' + user.lastName}}
          ul.navButtons.col-md-4
            li.col-lg-3.btn.btn-default(ng-click="redirect('/login')" ng-hide="user.username") Login
            li.col-lg-3.btn.btn-default(ng-click="redirect('/newsFeed')" ng-show="user.username") NewFeed
            li.col-lg-3.btn.btn-default(ng-click="redirect('/bridge')" ng-show='user.username') Profile
            li.col-lg-3.btn.btn-default(ng-click="logout()" ng-show='user.username') Logout
    main
      block content