body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(253, 237, 237, 0.27);
}

main{
  padding:50px;
}

a {
}

h3 {
  margin-top:0px;
}

nav{
  background-color: rgba(38, 141, 229, 0.87);
}

.nav {
  padding-top:12px;
}

.page-header h1 {
  display:inline;
}

.page-header button {
  display:inline;
}

.post-button, .comment-button {
  margin: 10px 0 10px 0;
}

.post-entry, .comment-entry {
  margin:20px 0 0 40px;
}

.navbar-brand, .navbar-form{
  margin-bottom: 0px;
}

.page-header {
  margin-top:10px;
}

.headerButton {
  margin-left: 10px;
}

.navButtons li {
  float: left;
  list-style: none;
  text-align: center;
  width: 33%;
}

.blog {
  clear: both;
  margin: 0 30px;
  padding:20px 0;
  border-radius: 10px;
}

.blog textarea{
  width: 75%;
}

.aboutMe h3{
  padding-bottom: 8px;
  border-bottom: 1px solid #EEEEEE;
}

.profilePic {
  margin-bottom: 40px;
}

.listHeader {
  background-color:#FFCC00;
}

.username {
  margin-top: 3px;
  text-align: center;
}

.blogHeader {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #EEEEEE;
}

.blogContent {
  padding:20px 0 0 0;
}