
<div ng-if="openForm === false">
  <image src="{{profilePic}}"></image>
  <h1>{{fullName}}</h1>
  <button ng-if="url === currentUser" ng-click="editForm()">Edit</button>
  <button ng-show="url !== currentUser" ng-click="subscribeToggle()">{{subscribeButton}}</button>
  <ul>
    <li ng-repeat="instrument in editable.instrumentsPlayed">{{instrument}}</li>
  </ul>
  <ul>
    <li ng-repeat="genre in editable.genresPlayed">{{genre}}</li>
  </ul>
  <div class="blog" ng-controller="blogCtrl">
    <form ng-submit="post()">
      <textarea name="newPost" class="newPost" ng-model="newPost" placeholder="Write a new Post" required></textarea>
      <button type="submit" class="postButton">Post</button>
    </form>
    <ul>
      <li ng-repeat="post in postList | reverse">
        <div class="postContainer">
          <p class="postText">{{post.text}}</p>
          <form ng-submit="postComment(post.post_id)">
            <textarea ng-model="post.newComment" required></textarea>
            <button type="submit">Post Comment</button>
          </form>
          <div class="commentsContainer">
            <ul>
              <li ng-repeat="comment in post.comments | reverse">
                <p>{{comment.text}}</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-show="changeProfilePic === true">
  <form class="profilePicForm" ng-submit="submitProfilePic()">
    <label for="file">File:</label>
    <input type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" ngf-min-height="100"
           ngf-resize="{width: 250, height: 250}" required/>
    <input type="submit"/>
  </form>
</div>
<div ng-if="openForm === true">
  <button ng-click="editPic()">{{profilePicButton}}</button>
  <form ng-submit="submit()">
    <label>First Name</label>
    <input type="text" name="fName" ng-model="userInfo.firstName" value={{userInfo.firstName}}>
    <label>Last Name</label>
    <input type="text" name="lName" ng-model="userInfo.lastName" value={{userInfo.lastName}}>
    <label>City</label>
    <input type="text" name="city" ng-model="editable.city" value={{editable.city}}>
    <div>
      <h2>Instruments</h2>
      <fieldset>
        <legend>instruments</legend>
        <div ng-repeat="instrument in instruments">
          <input type="checkbox" name='{{instrument.name}}' ng-click="click(instrument)" ng-checked="{{instrument.plays}}">
          <label>{{instrument.name}}</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Genres</legend>
        <div ng-repeat="genre in genres">
          <input type="checkbox" name='{{genre.name}}' ng-click="click(genre)" ng-checked="{{genre.plays}}">
          <label>{{genre.name}}</label>
        </div>
      </fieldset>
    </div>
    <input type="submit" value="Save">
    <button ng-click="editForm()">Done Editing</button>
  </form>
</div>

